[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
pytest-bdd = "*"
webdriver-manager = "*"
sttable = "*"
requests = "*"
pyparsing = "*"
ipdb = "*"
pytest-html = "*"
pytest-selenium = "*"
pytest-logger = "*"

[dev-packages]

[requires]
python_version = "3.11"
